@media screen and (min-width: 1024px) {
  .rightApplyAreaWrapper {
    display: flex;
    flex-direction: column;
    padding-right: 30rem;
    height: auto;
    margin-bottom: 10rem;
    // border: 1px solid red;
    .rightApplyAreaTitle {
      // border: 1px solid red;
      margin-top: 10rem;

      p {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 5rem;

        // text-align: ;
      }
    }
    .rigithApplyAreaContent {
      .qmark {
        display: block;
        color: #184e87;
        font-weight: 800;
        margin-bottom: 5rem;
        font-size: 2.3rem;
      }
      p {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: justify;
        // font-family: 'Noto Serif KR', serif;
      }
    }
    .rightApplyAreaSection {
      display: flex;
      flex-direction: column;
      //   align-items: center;
      .sectionItem {
        // border: 1px solid red;
        // height: 40rem;
        margin-bottom: 10rem;
        .itemImgWrapper {
          //   display: flex;
          //   border: 1px solid green;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          display: flex;
          img {
            display: block;
            width: 45%;
          }
          .etc {
            display: block;
            width: 70%;
          }
        }
        .itemTitleWrapper {
          display: flex;
          justify-content: flex-start;
          //   border: 1px solid blue;
          span {
            display: block;
            color: #184e87;
            font-weight: 800;
            margin-bottom: 3rem;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
