.MainWrapper {
}

@media screen and (min-width: 1024px) {
  .MainWrapper {
    height: 500vh;
    background-image: url(backgroundImg.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
}
