@media screen and (min-width: 1024px) {
  .rightMapWrapper {
    display: flex;
    flex-direction: column;
    padding-right: 30rem;
    .rightMapTitle {
      // border: 1px solid red;
      margin-top: 10rem;
      p {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 5rem;
      }
    }
    .rightMapbutton {
      margin-bottom: 3rem;
      button {
        border: none;
        border-radius: 0;
        width: 12rem;
        height: 4rem;
        font-size: 1.6rem;
        background-color: #184e87;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline-style: none;
      }
    }
  }
}
