@media screen and (min-width: 1024px) {
  .rightMapWrapper {
    display: flex;
    flex-direction: column;
    padding-right: 30rem;
    .rightMapTitle {
      // border: 1px solid red;
      margin-top: 10rem;
      p {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 5rem;

        // text-align: ;
      }
    }
  }
}
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
